.course-card-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.right-side-nav-container{
    width: 20%;
    background-color: #dddd;
    /* height: 70%; */
    padding: 20px;
}


/* media query  */
    
    
@media only screen and (max-width: 600px) {
    .container{
        display: flex;
        justify-content: space-around;
    }
    .course-card-container{
        width: 50%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .right-side-nav-container{
        width: 40%;

        padding: 20px 10px;
        
    }
    .right-side-nav-container ul li{
        font-size: 13px;
        margin-bottom: 20px;
    }
    
    
  }